In [2]:
import pandas as pd
import numpy, os
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
import seaborn as sns,matplotlib.pyplot as plt

Phase 1

In [3]:
parent_directory = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
phase_1 =  pd.read_csv(parent_directory + '/data/phase_1_data.csv')
phase_1.head()

,ID,From,Date,Hour,Participation_Phase,Demand_kWh,Temperature,Temperature24,Temperature48,Temperature72
0,Exp_553,2020-02-01 00:00:00+00:00,2020-02-01,1,Phase_1,1.174,7.6,6.1,5.0,4.4
1,Exp_553,2020-02-01 01:00:00+00:00,2020-02-01,2,Phase_1,1.172,8.2,6.2,5.1,4.4
2,Exp_553,2020-02-01 02:00:00+00:00,2020-02-01,3,Phase_1,1.207,8.4,6.3,5.3,4.5
3,Exp_553,2020-02-01 03:00:00+00:00,2020-02-01,4,Phase_1,1.613,8.4,6.4,5.4,4.5
4,Exp_553,2020-02-01 04:00:00+00:00,2020-02-01,5,Phase_1,1.101,8.2,6.5,5.5,4.6

In [6]:
X = phase_1[['Hour', 'Demand_kWh', 'Temperature', 'Temperature24', 'Temperature48', 'Temperature72']]

X = add_constant(X)

vif_data = pd.DataFrame()
vif_data['Feature'] = X.columns
vif_data['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print("Phase 1\n",vif_data)

Phase 1
          Feature        VIF
0          const   8.060310
1           Hour   1.037664
2     Demand_kWh   1.016353
3    Temperature   2.193697
4  Temperature24   8.615845
5  Temperature48  20.707306
6  Temperature72   9.972730

Phase 2

In [7]:
parent_directory = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
phase_2 =  pd.read_csv(parent_directory + '/data/phase_2_data.csv')
phase_2.head()

,ID,From,Date,Hour,Participation_Phase,Demand_kWh,Temperature,Temperature24,Temperature48,Temperature72
0,Exp_3928,2020-12-01 00:00:00+00:00,2020-12-01,1,Phase_2,4.43,4.2,0.7,-0.8,-1.3
1,Exp_3928,2020-12-01 01:00:00+00:00,2020-12-01,2,Phase_2,4.50,4.2,1.0,-0.7,-1.2
2,Exp_3928,2020-12-01 02:00:00+00:00,2020-12-01,3,Phase_2,5.44,3.9,1.3,-0.6,-1.0
3,Exp_3928,2020-12-01 03:00:00+00:00,2020-12-01,4,Phase_2,4.50,3.1,1.6,-0.5,-0.9
4,Exp_3928,2020-12-01 04:00:00+00:00,2020-12-01,5,Phase_2,4.48,2.4,1.8,-0.4,-0.8

In [9]:
X = phase_2[['Hour', 'Demand_kWh', 'Temperature', 'Temperature24', 'Temperature48', 'Temperature72']]

X = add_constant(X)

vif_data = pd.DataFrame()
vif_data['Feature'] = X.columns
vif_data['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print("Phase 2\n",vif_data)

Phase 2
          Feature        VIF
0          const   5.529418
1           Hour   1.041804
2     Demand_kWh   1.045682
3    Temperature   5.671102
4  Temperature24  28.986881
5  Temperature48  78.255760
6  Temperature72  35.647319

Phase 1 with survey

In [10]:
parent_directory = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
phase_1_survey =  pd.read_csv(parent_directory + '/data/phase_1_data_with_survey.csv')
phase_1_survey.head()

,ID,From,Date,Hour,Participation_Phase,Demand_kWh,Temperature,home_size,electric_car,no_of_people,electrically_heated
0,Exp_62,2020-02-01 00:00:00+00:00,2020-02-01,1,Phase_1,1.925,7.6,120-159 m2,Yes,3,True
1,Exp_62,2020-02-01 01:00:00+00:00,2020-02-01,2,Phase_1,2.002,8.2,120-159 m2,Yes,3,True
2,Exp_62,2020-02-01 02:00:00+00:00,2020-02-01,3,Phase_1,2.019,8.4,120-159 m2,Yes,3,True
3,Exp_62,2020-02-01 03:00:00+00:00,2020-02-01,4,Phase_1,2.205,8.4,120-159 m2,Yes,3,True
4,Exp_62,2020-02-01 04:00:00+00:00,2020-02-01,5,Phase_1,2.834,8.2,120-159 m2,Yes,3,True

In [12]:
phase_1_survey['home_size'] = phase_1_survey['home_size'].astype('category').cat.codes
phase_1_survey['electric_car'] = phase_1_survey['electric_car'].astype('category').cat.codes
phase_1_survey['electrically_heated'] = phase_1_survey['electrically_heated'].astype('int')
X = phase_1_survey[['Hour', 'Demand_kWh', 'Temperature', 'home_size', 'electric_car', 'no_of_people','electrically_heated']]

X = add_constant(X)

vif_data = pd.DataFrame()
vif_data['Feature'] = X.columns
vif_data['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print("Phase 1 Survey\n",vif_data)

Phase 1 Survey
                Feature        VIF
0                const  24.533540
1                 Hour   1.036070
2           Demand_kWh   1.289481
3          Temperature   1.048786
4            home_size   1.121881
5         electric_car   1.216095
6         no_of_people   1.164912
7  electrically_heated   1.192554

Phase 2 Survey

In [13]:
parent_directory = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
phase_2_survey =  pd.read_csv(parent_directory + '/data/phase_2_data_with_survey.csv')
phase_2_survey.head()

,ID,From,Date,Hour,Participation_Phase,Demand_kWh,Temperature,home_size,electric_car,no_of_people,electrically_heated
0,Exp_3928,2020-12-01 00:00:00+00:00,2020-12-01,1,Phase_2,4.43,4.2,120-159 m2,No,4,True
1,Exp_3928,2020-12-01 01:00:00+00:00,2020-12-01,2,Phase_2,4.50,4.2,120-159 m2,No,4,True
2,Exp_3928,2020-12-01 02:00:00+00:00,2020-12-01,3,Phase_2,5.44,3.9,120-159 m2,No,4,True
3,Exp_3928,2020-12-01 03:00:00+00:00,2020-12-01,4,Phase_2,4.50,3.1,120-159 m2,No,4,True
4,Exp_3928,2020-12-01 04:00:00+00:00,2020-12-01,5,Phase_2,4.48,2.4,120-159 m2,No,4,True

In [14]:
phase_2_survey['home_size'] = phase_2_survey['home_size'].astype('category').cat.codes
phase_2_survey['electric_car'] = phase_2_survey['electric_car'].astype('category').cat.codes
phase_2_survey['electrically_heated'] = phase_2_survey['electrically_heated'].astype('int')
X = phase_2_survey[['Hour', 'Demand_kWh', 'Temperature', 'home_size', 'electric_car', 'no_of_people','electrically_heated']]

X = add_constant(X)

vif_data = pd.DataFrame()
vif_data['Feature'] = X.columns
vif_data['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print("Phase 2 Survey\n",vif_data)

Phase 2 Survey
                Feature        VIF
0                const  22.629527
1                 Hour   1.025442
2           Demand_kWh   1.452306
3          Temperature   1.049315
4            home_size   1.189407
5         electric_car   1.095736
6         no_of_people   1.262118
7  electrically_heated   1.093046